@import "tailwindcss";

@layer base {
  :root {
    --accent: oklch(0.629 0.218 21.73);
  }

  * {
    @apply font-(family-name:--rem);
    @apply select-none touch-manipulation;
  }

  body {
    @apply h-screen font-medium text-black;
    @apply bg-gradient-to-br from-[#50B8E2] to-[#2196C5];
  }

  h1 {
    @apply font-bold text-xl pointer-events-none;
  }

  img {
    @apply pointer-events-none;
  }

  button {
    @apply bg-white text-black px-3 py-1 pb-1.5 cursor-pointer rounded-lg;
  }

  input[type="text"] {
    @apply bg-white text-black w-full border px-3 py-2 pb-2.5 rounded-lg;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  input[type="search"]::-moz-search-clear {
    display: none;
  }
  input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  @keyframes fly {
    0% {
      transform: translateY(5);
    }
    50% {
      transform: translateY(-5px) translateX(6px);
    }
    100% {
      transform: translateY(5);
    }
  }

  .animate-fly {
    animation: fly 5s ease-in-out infinite alternate;
  }

  @keyframes brows {
    0% {
      transform: translateY(0);
    }
    98% {
      transform: translateY(0);
    }
    99% {
      transform: translateY(-3px) translateX(1px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-brows {
    animation: brows 5s linear infinite;
  }
}
